@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(37% 0.034 259.733);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(60% 0.25 292.717);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}